.articlesList {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.articlesList-item {
    margin-bottom: 50px;
    text-align: center;
}

.articleDescription {
    text-align: justify;
    margin-top: 25px;
}

.articleImage {
    width: 100%;
}
.articleTitle {
    margin-top: 0;
    font-size: 40px;
    margin-bottom: 15px;
    text-align: left;
    color: #F42;
}

.articleAuthor {
    color: #F42;
}

.articleDate {
    text-align: left;
    padding-bottom: 25px;
    margin-bottom: 35px;
    border-bottom: 1px solid #ddd;
}

.articlesList-showMoreButton {
    margin: 0 auto;
}

.articlesList-showMoreButton--hidden {
    display: none;
}