frontcamp2017/nodejs-expressjs-hometask/node_modules/
frontcamp2017/nodejs-expressjs-hometask/logs.log
frontcamp2017/reactjs-hometask/node_modules/
frontcamp2017/angular-hometask/node_modules/
frontcamp2017/news-app/node_modules/
.idea/