body {
    margin: 0;
    padding: 0;
    min-height: 100%;
    position: relative;
    font-family: 'Roboto-Regular', 'Arial', sans-serif;
}

@font-face {
    font-family: 'Roboto-Light';
    src: url('fonts/Roboto-Light.woff') format('woff'), url('fonts/Roboto-Light.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'Roboto-Regular';
    src: url('fonts/Roboto-Regular.woff') format('woff'), url('fonts/Roboto-Regular.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'Roboto-Medium';
    src: url('fonts/Roboto-Medium.woff') format('woff'), url('fonts/Roboto-Medium.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}

.app {
    margin: 0 auto;
    display: flex;
    min-height: 100vh;
    padding: 0 16px;
    box-sizing: border-box;
    flex-direction: column;
}

@media (min-width: 960px) {
    .app {
        width: 920px;
    }
}

header {
    flex-shrink: 0;
}

header h1 {
    font-family: 'Roboto-Light', 'Arial', sans-serif;
    position: relative;
    font-weight: 400;
    text-align: center;
    margin-top: 50px;
    color: #000;

    &:after {
        content: '';
        display: block;
        width: 100px;
        border-top: 1px solid #a9a9a9;
        left: 50%;
        transform: translateX(-50%);
        position: absolute;
        bottom: -20px;
    }
}

main {
    margin: 75px 0 50px;
    flex: 1 0 auto;
}

.getNewsListAssetsButton {
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    position: absolute;
}

.btn {
    font-family: 'Roboto-Medium', 'Arial', sans-serif;
    cursor: pointer;
    display: inherit;
    background: none;
    border-radius: 3px;
    padding: 10px 30px;
    color: rgba(255, 68, 34, 0.6);
    border: 2px solid rgba(255, 68, 34, 0.6);

    &:hover {
        background-color: rgba(255, 68, 34, 0.9);
        color: #fff;
        border-color: rgba(255, 68, 34, 0.6);
    }
}

.btn-block {
    .btn {
        display: inline-block;
        padding: 5px 10px;
        margin: 0 5px;
    }
}

.btn--hidden {
    display: none;
}

footer {
    border-top: 1px solid #cecece;
    padding: 20px 0;
    font-family: 'Roboto-Light', 'Arial', sans-serif;
    font-size: 12px;
    text-align: right;
    flex-shrink: 0;
}

footer a {
    text-decoration: none;
    color: #f42;
}

articles-list {
    display: block;
}