html
    head
        title!= title
    body
        nav
            ul
                li
                    a(href="/auth/logout") Logout
                    a(href="/auth/login") Login
                    a(href="/") Homepage
        main
            h1!= message

