html
    head
        title!= title
    body
        nav
            ul
                li
                    a(href="/blogs") Articles
                if !user
                    li
                        a(href="/auth/login") Login
                else
                    li
                        a(href="/auth/logout") Logout
                if !user
                    li
                        a(href="/signup") Signup
        main
            h1 Its a homepage!
            if user
                if user.google.username
                    p You logged in as: #{user.google.username}
                if user.local.email
                    p You logged in as: #{user.local.email}

