html
    head
        title!='Login page'
    body
        nav
            ul
                li
                    a(href="/auth/logout") Logout
                    a(href="/auth/login") Login
                    a(href="/") Homepage
        main
            a(href="/auth/google") Google+