html
    head
        title!='Login page'
    body
        main
            h1 Please login there
            a(href="/auth/google") Google+

            p.formMessage #{message}
            form(action="/login" method="post")
                p
                    label Email
                    input(type="text" name="email")
                p
                    label Password
                    input(type="password" name="password")
                p
                    button(type="submit") Login