.subscribeContainer {
  width: 550px;
  border: 1px solid #ddd;
  box-sizing: border-box;
  padding: 20px;
  border-radius: 3px;
  transform: translate(-50%, -50%);
  background-color: #fff;
  top: 50%;
  left: 50%;
  position: absolute;
}

@media (max-width: 600px) {
  .subscribeContainer {
    width: 100%;
  }

  .subscribe-input,
  .subscribe-submit {
    width: 100% !important;
  }

  .subscribe-input {
    margin-bottom: 10px;
  }
}

.subscribe-title {
  font-family: 'Roboto-Light', 'Arial', sans-serif;
  text-align: center;
  margin-bottom: 0;
  font-size: 30px;
}

.subscribe-description {
  text-align: center;
  color: #aaaaaa;
  margin-bottom: 30px;
}

.subscribeContainer--hidden {
  display: none;
}

.subscribe-closeButton {
  border: none;
  position: absolute;
  background: none;
  right: 10px;
  font-size: 15px;
  top: 10px;
  font-weight: bold;
  color: rgba(255, 68, 34, 0.6);
  cursor: pointer;
  border-radius: 50%;
}

.subscribe-input,
.subscribe-submit {
  display: inline-block;
}

.subscribe-submit {
  background-color: rgba(255, 68, 34, 1);
  color: #fff;
}

.subscribe-input {
  border-radius: 3px;
  height: 42px;
  box-sizing: border-box;
  vertical-align: top;
  width: 365px;
  border: 1px solid #ddd;
  padding-left: 10px;
  font-size: 14px;
}