.channelsContainer {
    text-align: center;
    margin: 50px 0;
}

.channelsList {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    justify-content: space-between;
    padding: 0;
}

.channelsList:after {
    content: '';
    flex: auto;
}

.channelsList-showMore {
    cursor: pointer;
    margin-top: 50px;
    width: 150px;
    height: 25px;
}

.channelsList-item {
    cursor: pointer;
    text-align: center;
    min-height: 150px;
    margin: 10px;
}

.channelsList-item:hover .channelLogo {
    transform: scale(1.1);
}

.channelLogo {
    transition: all .1s ease-out;
    border-radius: 10px;
}

@media (min-width: 480px) {
    .channelLogo {
        width: 80px;
    }
}

.channelTitle {
    font-family: 'Roboto-Light', 'Arial', sans-serif;
    color: #8e8e8e;
}

.channelsList-item:hover .channelTitle {
    font-family: 'Roboto-Regular', 'Arial', sans-serif;
    color: #f42;
}

@media (min-width: 960px) {
    .channelsList-item {
        width: calc(20% - 20px);
    }
}

@media (max-width: 960px) {
    .channelsList-item {
        width: calc(25% - 20px);
    }
}

@media (max-width: 600px) {
    .channelsList-item {
        width: calc(50% - 20px);
    }
}

@media (max-width: 480px) {
    .channelsList-item {
        width: calc(100% - 10px);
    }

    .channelLogo {
        width: 150px;
    }
}

