<nav style="margin: 20px 0 0 0;">
    <ul class="pagination justify-content-center">
        <li class="page-item" ng-class="{disabled: currentPage === 1}">
            <a class="page-link" ng-click="navigate(currentPage - 1)">Previous</a>
        </li>
        <li class="page-item" ng-class="{active: $index === currentPage - 1}" ng-repeat="page in [] | range:totalPagesCount">
            <a class="page-link" ng-click="navigate($index + 1)">
                {{$index + 1}}
            </a>
        </li>
        <li class="page-item" ng-class="{disabled: currentPage === totalPagesCount}">
            <a class="page-link" ng-click="navigate(currentPage + 1)">Next</a>
        </li>
    </ul>
</nav>